.main{
    position: absolute;
    right: 50px;
    display: inline-block;
    color: #fff;
    margin: 0;
}
a{
    color: #2ba8db;
    font-size: 16px;
    text-decoration: none;
}
 .main li,
 .catalog li {
    position: relative;
    display: inline-block;
    font-size: 1.14em;
    margin-left: 2px;
    margin-bottom: 7px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.main li.has-submenu:hover,
.catalog li.has-submenu:hover {
    background: #2ba8db;
}
.main li.has-submenu:hover a,
.catalog li.has-submenu:hover a {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.main li.has-submenu:hover .submenu,
.catalog li.has-submenu:hover .submenu {
    display: block;
}
.main li.has-submenu a > i,
.catalog li.has-submenu a > i {
    display: none;
}
.main li a,
.catalog li a {
    display: block;
    padding: 8px 12px 10px 12px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.main li:hover a,
.catalog li:hover a {
    text-decoration: none;
    color: #fff;
}
.main li .label,
.catalog li .label {
    position: absolute;
    background: #ff6f69;
    font-weight: normal;
    font-size: 0.6em;
    padding-top: 4px;
    top: -3px;
    left: 60%;
}
@media only screen and (max-width: 991px) {
     .main li .label,
     .catalog li .label {
        position: relative;
        display: inline-block;
        left: auto;
        top: auto;
        margin-left: 10px;
    }
}
.main .submenu,
.catalog .submenu {
    position: absolute;
    top: 44px;
    min-width: 230px;
    z-index: 10;
    background: #2f343b;
    border: 1px solid #2ba8db;
    padding: 13.33333333px 6px 9.6px 6px;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    font-size: 0.8em;
    display: none;
}
 .main .submenu li,
 .catalog .submenu li {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
    border-top: 1px solid #2ba8db;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
 .main .submenu li:first-child,
 .catalog .submenu li:first-child {
    padding-top: 0;
    border-top: none;
}
 .main .submenu li:hover,
 .catalog .submenu li:hover {
    background: #2ba8db;
}
 .main .submenu li a,
 .catalog .submenu li a {
    display: block;
    color: #fff;
    padding: 8px 0 12px 6px;
}
 .main .submenu li .label,
 .catalog .submenu li .label {
    position: relative;
    display: inline-block;
    left: auto;
    top: auto;
    margin-left: 10px;
}
 .catalog {
    border-bottom: none;
    padding: 8px 0 0 0;
}
 .catalog li {
    margin-left: 32px;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
 .catalog li:first-child {
    margin-left: 0;
}
 .catalog li:hover {
    background: #a3c756;
}
@media only screen and (max-width: 1200px) {
     .catalog li {
        margin-left: 0;
    }
}
 .catalog li.has-submenu {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
 .catalog li.has-submenu:hover {
    background: #a3c756;
}
 .catalog li.has-submenu:hover a {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
 .catalog li.has-submenu:hover .submenu {
    display: block;
}
 .catalog li a {
    padding: 9px 14px 20px 14px;
    color: #fff;
    background: none;
}
@media only screen and (max-width: 1200px) {
     .catalog li a {
        padding: 9px 9px 20px 9px;
    }
}
 .catalog li .submenu {
    position: absolute;
    top: 56px;
    width: 740px;
    z-index: 10;
    background: #2f343b;
    padding: 12px 6px 12px 6px;
    border: 1px solid #2f343b;
    border-top: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
 .catalog li .submenu li {
    width: 212px;
    border-top: 1px solid #a3c756;
}
 .catalog li .submenu li:hover {
    background: #a3c756;
}
 .catalog li .submenu li.has-submenu {
    padding-right: 32px;
}
 .catalog li .submenu li.has-submenu:after {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    font-family: FontAwesome;
    color: #fff;
    content: "\f054";
    font-size: 0.9em;
}
 .catalog li .submenu .sub-submenu {
    position: absolute;
    display: none;
    padding-left: 20px;
    z-index: 5;
    top: 0;
    right: -195px;
}
 .catalog li .submenu .sub-submenu li {
    width: 180px;
    border-top: 1px solid #2ba8db;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
 .catalog li .submenu .sub-submenu li:first-child {
    border-top: none;
}
 .catalog li .submenu .sub-submenu li a {
    color: #2f343b;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
 .catalog li .submenu .sub-submenu li:hover {
    background: #2ba8db;
}
 .catalog li .submenu .sub-submenu li:hover a {
    color: #fff;
}
 .catalog li .submenu .offer {
    display: block;
    position: absolute;
    width: 512px;
    min-height: 100%;
    top: 0;
    right: 0;
    background: #fff;
    border: none;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}
 .catalog li .submenu .offer:hover {
    background: #fff;
}
 .catalog li .submenu .offer .col-1 {
    width: 40%;
    position: absolute;
    left: 0;
    padding: 35px 0 20px 15px;
}
 .catalog li .submenu .offer .col-2 {
    width: 60%;
    position: absolute;
    right: 0;
    padding: 24px 40px 0 20px;
}
 .catalog li .submenu .offer img {
    margin-bottom: 12px;
}
 .catalog li .submenu .offer .btn {
    background: #2ba8db;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.catalog li .submenu .offer .btn:hover {
    background: #1f89b4;
}
